{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your Email Address" %}{% endblock head_title %}

{% block content %}

<div class=" text-centercol-md-2 d-flex justify-content-center align-items-center">
  <!-- display django messages -->
  {% if messages %}
{% for message in messages %}
<div class="text-center bg-warning text-dark border-radius-9 montserrat mt-2  alert {{ message.tags }} alert-dismissible
fade show " id="msg" role="alert">
{{ message | safe }}
<button type="button" class="btn-close"
data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}  
{% endif %}
</div>
<div class="container mt-2 pt-3 pb-3">
    <div class="row d-flex justify-content-center align-items-center montserrat">
    <h1>{% trans "Verify Your Email Address" %}</h1>
<p>{% blocktrans %}We have sent an email to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification email in your main inbox, check your spam folder. Please contact us if you do not receive the verification email within a few minutes.{% endblocktrans %}</p>
</div>
</div>

{% endblock content %}
