{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
      <!-- Background Image Section -->
        <div class="background-image d-flex align-items-center justify-content-center">
            <!-- display django messages -->
            {% if messages %}
       {% for message in messages %}
      <div class="text-center bg-warning text-dark border-radius-9 montserrat mt-2  alert {{ message.tags }} alert-dismissible
        fade show " id="msg" role="alert">
        {{ message | safe }}
        <button type="button" class="btn-close"
          data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}  
      {% endif %}
           <!-- Main Content Container -->
          <div class="main-content text-center">
                <!-- Header Section -->
          <header>
                <!-- Main Heading -->
            <h1 class="main-heading text-center mt-2 dancing-script"><span class="mt-2 lobster">Tamariam Restaurant</span>
               Your Table Awaits !<h1>
             </header>
              <!-- Main Content Section -->
             <main class="text-center">
                <p class="main-message p-3 mw-100 mx-auto my-auto montserrat ">Indulge your senses in an exquisite journey of flavors, where passion meets culinary craftsmanship. Our chefs curate each dish with precision, creating a symphony of taste that will transport you to a world of culinary delight.</p>
                <!-- Buttons for Booking a Table and Menu -->
                <button type="button" class="btn btn-light btn-lg lobster ">Book a Table</button>
              <a href="{% url 'menu' %}" class="btn btn-light btn-lg lobster"  aria-label="menu-page" target="_blank">Menu</a>
             <!-- About Us Section -->
       <section class="text-center pt-3 mb-2  about-us mw-100 mx-auto my-auto mt-2 montserrat">
        <h2 class="about-us-heading ">About Us</h2>
        <p class="about-us-text  mw-100 mx-auto my-auto  ">At Tamariam, we're not just about serving meals; we're crafting experiences. From the heart of our kitchen to your table, we curate each dish to transport you to a world of delightful flavors.
          Join us at Tamariam for an unforgettable dining adventure, where every bite is a story, and every moment is a celebration of culinary excellence.</p>
       </section>
             </main>
             </div>
            </div>
        </div>
    </div>
   

{% endblock content %}