{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 background-image d-flex align-items-start justify-content-center">
            <div class="main-content text-center">
          <header>
            <h1 class="main-heading text-center p-3  mt-2">Discover Culinary Bliss, Your Table Awits !</h1>
             </header>
             <main class="text-center">
                <p class="main-message p-4 mw-100 mx-auto my-auto ">Indulge your senses in an exquisite journey of flavors, where passion meets culinary craftsmanship. Our chefs curate each dish with precision, creating a symphony of taste that will transport you to a world of culinary delight.</p>
                <button type="button" class="btn btn-light btn-lg ">Book a Table</button>
<button type="button" class="btn btn-light btn-lg">Menu</button>
       <section class="text-center about-us  mw-100 mx-auto my-auto mt-2">
        <h2>About Us</h2>
        <p class=>At Tamariam, we're not just about serving meals; we're crafting experiences. From the heart of our kitchen to your table, we curate each dish to transport you to a world of delightful flavors.
          Join us at Tamariam for an unforgettable dining adventure, where every bite is a story, and every moment is a celebration of culinary excellence."</p>
       </section>
             </main>
             </div>
            </div>
        </div>
    </div>
   

{% endblock content %}