{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12 background-image d-flex align-items-start justify-content-center">
          <div class="main-content">
            <h1 class="main-heading  text-center mt-5">Discover Culinary Bliss, Your Table Awits !</h1>
            <div class="message">
                <h2>loremn fjfkhdfskjgdshkjdshkgsjhkjsdhdkjfdkgjdfjfkdjhgfdkjfdghhgdfkjhfdkjhgdfkjhfdkfkfjdhfkdjhfdkjfdjdkjzdfkdkfjhfdkjdf</h2>
            </div>
            </div>
        </div>
    </div>
   
</div>
{% endblock content %}