{% extends "base.html" %}


{% block content %}
<div class="container-fluid">
    <div class="row">
   <h2> hello {{user}}</h2>
    <h3>Here is your details:</h3>
    <p>username:{{user.username}}</p>
<p> email:{{user.email}}</p>
<a href="{% url 'update_page' %}" class="btn btn-secondary">Update profile</a>
<a href="{% url 'account_delete_page' %}" class="btn btn-secondary">Delete account</a>
       </section>
             </main>
             </div>
            </div>
        </div>
    </div>
   

{% endblock content %}