{% extends "base.html" %}
{% load crispy_forms_tags %} 


{% block content %}
<div class="container-fluid">
    <div class="row  d-flex justify-content-center align-items-center mt-5 montserrat">
        <div class="col-md-4">
   <h2 class="text-center"> Hello {{user.first_name}} {{user.last_name}}!</h2>
    <h3 class="text-center user-details">Here is your details:</h3>
    <hr>
    <p class="user-text text-center "><span>Username:</span> {{ user.username }}</p>
    <p class="center user-text  text-center"><span>Email:</span> {{ user.email }}</p>
  
<div class="d-flex justify-content-center">
<a href="{% url 'update_page' %}" class=" btn-danger btn-link m-2" >Update profile</a>
<a href="{% url 'account_delete_page' %}" class="btn-warning btn-link m-2">Delete account</a>
       </div>
       </div>
             </div>
            </div>
        </div>
    </div>
   

{% endblock content %}