{% extends "base.html" %}
{% load crispy_forms_tags %} 

{% block content %}
    <!-- display django messages --> 
    <div class=" text-centercol-md-2 d-flex justify-content-center align-items-center ">
    {% if messages %}
    {% for message in messages %}
      
        <div class="text-center bordered montserrat mt-2 alert {{ message.tags }} bg-warning alert-dismissible fade show " id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}


<div class="container mt-2  montserrat">
   <div class="row">
                <div class="col-12">
           <h1 class="profile-h1 fw-bold"> Hello {{user.first_name}} {{user.last_name}}!</h1>
            <h2 class="profile-h2 fw-bold ">Welcome to your profile management area.</h2>
            <hr>
            <ul class="profile-management-list">
                <li>Update your profile details by clicking the "Update Profile" button.</li>
                <li>Delete your profile by clicking the "Delete Account" button.<span>Note that deleting your profile will also delete any related bookings.</span></li>
                <li>Manage your bookings by visiting the "My Bookings" section.You can view, modify, or delete, and check the status of your existing bookings.</li>
                <li>You can only update bookings for future dates.</li>
                <li>You cannot change rejected bookings.</li>

            </ul>
            <hr>
               </div>
               </div>
               <div class="row">
               <div class="p-3 col-12 text-center mb-3">
            <h2 class="my-details">My Details</h2>
                <p class="user-text "><span>Username:</span> {{ user.username }}</p>
                <p class="user-text"><span>Email:</span> {{ user.email }}</p>
                <div>
            <a href="{% url 'update_profile' %}" class=" details-btn btn-warning  m-2 text-decoration-none p-2 rounded-3 " >Update profile</a>
            <a href="{% url 'account_delete_page' %}" class="details-btn btn-danger text-decoration-none m-2 p-2 rounded-3">Delete account</a>
            </div>
                   
                   </div>
                   </div>
                   <div class="table-responsive">
                       <table class="table">
                        <h2 class="my-bookings">My Bookings</h2>
                        <p class="scroll-note text-center">Scroll right for entire Booking details <i class="fas fa-arrow-right"></i></p>
                        {% if not  bookings %}
                        <p class="fw-bold">You have not Bookings, {{user.first_name}}, Book it now.</p>
                        {% else %}
                       <thead>
                            <tr class="table-primary">
                            <th scope="col">Date</th>
                              <th scope="col">Time</th>
                              <th scope="col">Number of People</th>
                              <th scope="col">Booking status</th>
                              <th scope="col">Update booking</th>
                              <th scope="col">Delete Booking</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for booking in bookings %}
                                 <tr class="table-danger">
                                    <td>{{booking.date}}</td>
                                    <td>{{booking.time}}</td>
                                    <td>{{booking.num_of_people}}</td>
                                    <td>{{booking.status}}</td> 
                                    {% if booking.status == 'rejected' or booking.date <= today %}
                                    <td>N/A</td>
                                        {% else %}
                                    <td><a href="{% url 'update_booking' pk=booking.id %}" class="table-btn btn-warning p-2 text-decoration-none rounded-2">Update</a></td>
                                        {% endif %}
                                    <td><a href="{% url 'delete_booking' pk=booking.id %}" class="table-btn btn-danger p-2 text-decoration-none rounded-2">Delete</a></td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                        </table>
                        </div>
                </tbody>
                        </table>
                            </div>
            </div>
   

{% endblock content %}