{% extends "base.html" %}
{% load crispy_forms_tags %}


{% block content %}
<div class=" text-centercol-md-2 d-flex justify-content-center align-items-center">
    <!-- display django messages -->
    {% if messages %}
{% for message in messages %}
<div class="text-center bg-warning text-dark border-radius-9 montserrat mt-2  alert {{ message.tags }} alert-dismissible
fade show " id="msg" role="alert">
{{ message | safe }}
<button type="button" class="btn-close"
  data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}  
{% endif %}
</div>
<div class="container-fluid mt-3 ">
    <div class="row d-flex justify-content-center align-items-center">
    <div class="col-md-7 montserrat"> 
        <h2 class="text-center booking-h2 mb-3 ">Reservation Guidelines</h2>
    <h3 class="text-center">Please note the following instructions before proceeding:</h3>
    <hr>
    <ul class="booking-guidelines-list">
        <li>Our restaurant opens in the evening from 6:00 PM onwards.</li>
        <li>Online bookings for today are not available. The minimum booking date is tomorrow. if you would like to book a table for today then please contact us directly via phone.</li>
        <li>Upon submitting your booking request, you will receive feedback from us regarding the status of your booking within 24 hours.</li>
        <li>You can also check the status of your booking in the "My Bookings" section of your profile page.</li>
    </ul>
    </div>
    </div>
    <div class="row justify-content-center align-items-center">
        <div class="col-md-7"> 
            <form method="post" action="{% url 'booking' %}">
                <h2 class="text-center booking-h2 mb-3">Book a Table</h2>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-around align-items-center">
                <button type="submit" class="btn-success rounded p-2 booking-button">Submit</button>
                <button onclick="window.location.href='{% url 'home' %}';" class="btn-danger rounded p-2 booking-button" type="button">Cancel</button>
                </div>
            </form>
        </div>
        </div>
    </div>
    

{% endblock %}
