{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container">
  <div class="row justify-content-center align-items-center mt-3 montserrat">
  <h2 class="text-danger fw-bold">
    Cancel Booking
  </h2>
<hr>
<div>
  <p><span class="delete-span"> Date: </span>{{booking.date}}</p>
  <p><span class="delete-span"> Time: </span>{{booking.time}}</p>
  <p><span class="delete-span"> Number: </span>{{booking.num_of_people}}</p>
</div>
  <h3 class="text-danger">Please confirm if you want to proceed with deleting the booking record.</h3>
  <form method="post" action="{% url 'delete_booking' pk=booking.id %}">
    {% csrf_token %}
    <button type="submit" class="btn-danger rounded p-2">Confirm</button>
    <button onclick="window.history.back();" class="btn-success p-2 rounded" type="button">Cancel</button>
    </form>
    </div>
    </div>
    
{% endblock %}