/* 
chosen colors:
#c1121f red
#FFD700 golden
#fb5607 orange;
#f5cac3;pink
#f0e6ef; white

*/

/* Common styles for mobile ,tablet and desktop screens */
/* styles for base html:nav and footer  */
@media only screen and (min-width:375px) {
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
/*give styles for Logo *  */ 
.navbar-brand{
    color:red !important;
    font-size:40px;
    font-family:"Lobster";
    font-weight:600;
    letter-spacing:1px;
}

/* give styles to navigation links */
 .nav-link{
    color: #ffb703 !important;
    font-family:'Montserrat', sans-serif;
    font-family:700;
    font-size:20px;
} 

.nav-link:hover{
    color:red !important;
} 

.footer a{
    text-decoration:none;
}

.footer{
    font-family:'Montserrat', sans-serif;
    font-family:700;
}

.footer h3, .footer span{
    color:#c1121f;
}

.footer p {
    color:#ffb703;
    font-size:18px;
}

.folow-us{
    color:#c1121f ;
    font-size:20px;
}

/* give styule to  social media icons */
.fab{
    color:#ffb703 !important ;
    font-size:25px;
    cursor:pointer;
}

.fab:hover {
    background-color:red; 
}
/* give style to footer text:for educational purposes only */
.purpose{
    color:#fb5607 !important ;
}

/* styles for Home page main content */
/* add background image */
.background-image{
    background-image:url("/static/images/background-image.jpg");
    background-size: cover;
    background-position:center;
    width:100vw;;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 } 
/* styling main heading */
.main-heading{
    color:black;
    font-family:"Dancing-Script",cursive;
    font-weight:700;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius:9px;
   opacity:0.8;
   width:95vw;
   
}

/* give styles to main-message div */
.main-message, .about-us {
     color:#f0e6ef; 
    font-family:'Montserrat', sans-serif;
    font-weight:600;
    font-size:20px;
    background-color:black;
    /* opacity:0.9; */
    border:2px solid #c1121f; 
    width:95vw;
    border-radius:9px;
 
}

.about-us{
   border:none;
}
.about-us-heading{
    font-size:28px;
    font-weight:700;
    color:#c1121f;
    
 }

.btn{
    margin-top:10px;
    width:80%;
    opacity:0.9;
    font-family:'Lobster';
    Font-weight:700;
    letter-spacing:2px;
    color:black;
    background-color:#ffb703;
    border-radius:9px;
    font-size:30px;
    border: 2px dotted black;
}

.btn:hover{
    background-color:#f5cac3;
    border:none;
  
}
}
/* styles for Tablet screen size */
 @media only screen and (min-width:767px) {
.nav-link, .footer p {
    font-size:22px;
} 

.footer h3{
    font-size:24px;
}

}

/* styles for Desktop screen */
@media only screen and (min-width:992px) {
    .navbar-brand{
        letter-spacing:5px;
    }

    .nav-link, .footer p {
        font-size:24px;
    }

    .footer h3{
        font-size:26px;
    }
   .background-image{
    height:100vh;
   }

   .main-heading{
    width:80vw;
   }
 
   .main-message{
    width:500px;
    height:250px;
}
.about-us{
    width:500px;
    height:400px;
}
   .btn{
    width:250px;
   }
}





