{% extends "base.html" %}

{% load i18n %}

{% block content %}
<div class="container-fluid ">
    <h1 class="Text-center">Menu</h1>
    <div class="row col-md-4">
<h1> starters</h1>
{%if starters %}
    {% for item in starters %}
      <h2>{{ item.name | safe }}</h2>
      <h3>{{ item.ingredients | safe }}</h3>
      <h2>{{ item.price }}</h2>
      
    <!-- <img src="{{ item.featured_image.url }}" alt="{{ item.name }} Image"> -->
    {% endfor %}
    {% endif %}
</div>
<div class="row col-md-6">
    <h1> Main Course</h1>
    {%if starters %}
        {% for item in starters %}
          <h2>{{ item.name | safe }}</h2>
          <h2>{{ item.price }}</h2>
          <h3>{{ item.ingredients | safe }}</h3>
        <!-- <img src="{{ item.featured_image.url }}" alt="{{ item.name }} Image"> -->
        {% endfor %}
        {% endif %}
    </div>
    <div class="row col-md-6">
        <h1> Desertss</h1>
        {%if starters %}
            {% for item in starters %}
              <h2>{{ item.name | safe }}</h2>
              <h2>{{ item.price }}</h2>
              <h3>{{ item.ingredients | safe }}</h3>
            <!-- <img src="{{ item.featured_image.url }}" alt="{{ item.name }} Image"> -->
            {% endfor %}
            {% endif %}
        {% endblock content %}
        </div>
</div>