{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block content %}

<div class="container-fluid">
  <div class="row text-center montserrat">
    <h1 class="p-2 lobster menu-heading">Menu</h1>
     <!-- Links to Menu Sections (only visible on small screens) -->
    <div class="col-4 d-block d-md-none mb-2">
      <a href="#starter" class="menu-link">Starters</a>
  </div>
  <div class="col-4 d-block d-md-none mb-2">
      <a href="#main-course" class="menu-link">Mains</a>
  </div>
  <div class="col-4 d-block d-md-none mb-2">
      <a href="#dessert" class="menu-link">Deserts</a>
  </div>

<!-- Starters Section -->
<div class="col-md-6"> 
          <h2 id="starter"  class="bg-danger p-2 rounded lobster ">Starters</h2>
        {% if starters %}
          {% for item in starters %}
            <h3 class=" menu-name">{{ item.name |  striptags}}</h3>
            {% if "placeholder" in item.featured_image.url %}
            <!-- <img  class="rounded menu-img"  src="https://res.cloudinary.com/dxleotfxz/image/upload/v1706365241/placeholder_althgk.jpg" alt="{{item.name}}"> -->
            <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}"
            alt="placeholder image">
        {% else %}
            <img class="rounded menu-img" src="{{ item.featured_image.url }}" alt="{{item.name}}" crossorigin="anonymous" >
        {% endif %}
            <h4 class=" menu-ingredients text-center pt-2">{{ item.ingredients | striptags }}</h4>
            {% if not item.availability %}
            {% if forloop.last %}
            <p class="text-danger pb-3">Currently unavailable</p>
            {% else %}
            <p class="text-danger border-bottom pb-3">Currently unavailable</p>
            {% endif %}
        {% else %}
            {% if forloop.last %}
                <h5 class="text-danger pb-3">£{{ item.price }}</h5>
            {% else %}
                <h5 class="text-danger border-bottom pb-3">£{{ item.price }}</h5>
            {% endif %}
        {% endif %}
          {% endfor %}
        {% endif %}
       </div>  

<!-- Main Course Section -->
<div class="col-md-6  ">
        <h2 id="main-course" class="bg-danger p-2 rounded  lobster">Main Course</h2>
        {% if mains %}
          {% for item in mains %}
            <h3>{{ item.name | striptags | safe }}</h3>
            {% if "placeholder" in item.featured_image.url %}
            <!-- <img class="rounded menu-img" src="https://res.cloudinary.com/dxleotfxz/image/upload/v1706365241/placeholder_althgk.jpg" alt="{{item.name}}"> -->
            <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}"
            alt="placeholder image">
        {% else %}
            <img class="rounded menu-img " src="{{ item.featured_image.url }}"
             alt="{{item.name}}" crossorigin="anonymous">
        {% endif %}
            <h4 class="text-center pt-2">{{ item.ingredients | striptags }}</h4>
            {% if not item.availability %}
            {% if forloop.last %}
            <p class="text-danger pb-3">Currently unavailable</p>
            {% else %}
            <p class="text-danger border-bottom pb-3">Currently unavailable</p>
            {% endif %}
        {% else %}
            {% if forloop.last %}
                <h5 class="text-danger pb-3">£{{ item.price }}</h5>
            {% else %}
                <h5 class="text-danger border-bottom pb-3">£{{ item.price }}</h5>
            {% endif %}
        {% endif %}
          {% endfor %}
        {% endif %}
      </div>

  <!-- Desserts Section -->
<div class="col-md-5 mx-auto ">
        <h2 id="dessert" class="bg-danger p-2 rounded mt-2 lobster">Desserts</h2>
        {% if desserts %}
          {% for item in desserts %}
            <h3>{{ item.name |  striptags }}</h3>
            {% if "placeholder" in item.featured_image.url %}
            <!-- <img class="rounded menu-img" src="https://res.cloudinary.com/dxleotfxz/image/upload/v1706365241/placeholder_althgk.jpg" alt="{{item.name}}"> -->
            <img class="card-img-top" src="{% static 'images/placeholder.jpg' %}"
            alt="placeholder image">
        {% else %}
            <img class="rounded menu-img" src="{{ item.featured_image.url }}" alt="{{item.name}}" crossorigin="anonymous">
        {% endif %}
            <h4 class="text-center pt-2">{{ item.ingredients | striptags }}</h4>
            {% if not item.availability %}
            {% if forloop.last %}
            <p class="text-danger pb-3">Currently unavailable</p>
            {% else %}
            <p class="text-danger border-bottom pb-3">Currently unavailable</p>
            {% endif %}
        {% else %}
            {% if forloop.last %}
                <h5 class="text-danger pb-3">£{{ item.price }}</h5>
            {% else %}
                <h5 class="text-danger border-bottom pb-3">£{{ item.price }}</h5>
            {% endif %}
        {% endif %}
          {% endfor %}
        {% endif %}
      </div>
  </div>
</div>

{% endblock content %}