/* 
chosen colors:
#c1121f red
#FFD700 golden
#fb5607 orange;

*/

/* Common styles for mobile ,tablet and desktop screens */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 
.navbar-brand{
    color:red !important;
    font-size:40px;
    font-family:"Lobster";
    font-weight:600;
    letter-spacing:1px;
}
 .nav-link{
    color: #ffb703 !important;
    font-family:'Montserrat', sans-serif;
    font-family:700;
    font-size:18px;

} 

.nav-link:hover{
    color:red !important;
} 
.footer{
    font-family:'Montserrat', sans-serif;
    font-family:700;
}
.footer h3, .footer span{
    color:#c1121f;
}

.footer p {
    color:#ffb703;
    font-size:18px;
}


.folow-us{
    color:#c1121f ;
    font-size:20px;
}


.fab{
    color:#ffb703 !important ;
    font-size:25px;
    cursor:pointer;
}
.fab:hover {
    background-color:red; 
   
}
.purpose{
    color:#fb5607 ;
    }

/* styles for Tablet screen size */
 @media only screen and (min-width:767px) {
.nav-link, .footer p {
    font-size:22px;
} 
.footer h3{
    font-size:24px;
}
}
@media only screen and (min-width:767px) {
    .navbar-brand{
        letter-spacing:5px;
    }
    .nav-link, .footer p {
        font-size:24px;
    }
    .footer h3{
        font-size:26px;
    }
    } 