{% extends 'base.html' %}

{% block content %}
<h1 class="mx-auto text-center">Booking Management Area</h1>
   <!-- display django messages --> 
   <div class=" text-centercol-md-2 d-flex justify-content-center align-items-center ">
    {% if messages %}
    {% for message in messages %}
      
        <div class="text-center bordered montserrat mt-2 alert {{ message.tags }} bg-warning alert-dismissible fade show " id="msg" role="alert">
          {{ message | safe }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    {% endfor %}
  {% endif %}

<div class="container-fluid d-flex justify-content-center align-items-center">
    <div class="table-responsive col-md-8 col-12">
           <!-- Display message if no bookings -->
            {% if not bookings %}
            <h2 class="fw-bold mx-auto text-center ">There are no bookings.</h2>
            {% else %}
            <!-- pending bookings -->
        <h2 class="my-bookings m-2">Pending Bookings</h2>
         <!-- Check if there are pending bookings -->
        {% if not pendings %}
        <h3 class="fw-bold m-2 text-center">There are no pending bookings.</h3>
        {% else %}
         <!-- display pending bookings -->
         <p class="scroll-note text-center">View complete details by scrolling right <i class="fas fa-arrow-right"></i></p>
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">People</th>
                    <th scope="col">Approve</th>
                    <th scope="col">Reject</th>
                </tr>
            </thead>
            <tbody>
              <!-- Loop through pending bookings -->

                {% for pending in pendings %}
                <tr class="table-danger">
                    <td>{{pending.first_name}}</td>
                    <td>{{pending.last_name}}</td>
                    <td>{{pending.date}}</td>
                    <td>{{pending.time}}</td>
                    <td>{{pending.num_of_people}}</td>
                    <td>
                        <form method="post" action="{% url 'approve' pk=pending.id %}">
                            {% csrf_token %}
                            <button type="submit" class="rounded dashboard-btn btn-success">Approve</button>
                        </form>
                    </td>
                    <td>
                        <form method="post" action="{% url 'reject' pk=pending.id %}">
                            {% csrf_token %}
                            <button type="submit" class="rounded dashboard-btn btn-danger">Reject</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
              <!-- end of loop  -->
            </tbody>
        </table>
        {% endif %}
        <!-- Approved bookings -->
        <h2 class="my-bookings m-2">Approved Bookings</h2>
        {% if not approved %}
        <h3 class="fw-bold m-2">There are no approved bookings.</h3>
        {% else %}
        <p class="scroll-note text-center">View complete details by scrolling right<i class="fas fa-arrow-right"></i></p>
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">People</th>
                    <th scope="col">Approve</th>
                    <th scope="col">Reject</th>
                </tr>
            </thead>
            <tbody>
                {% for approve in approved %}
                <tr class="table-danger">
                    <td>{{approve.first_name}}</td>
                    <td>{{approve.last_name}}</td>
                    <td>{{approve.date}}</td>
                    <td>{{approve.time}}</td>
                    <td>{{approve.num_of_people}}</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
        <!-- Rejected bookings -->
        <h2 class="my-bookings m-2">Rejected Bookings</h2>
        {% if not rejected %}
        <h3 class="fw-bold m-2">There are no rejected bookings.</h3>
        {% else %}
        <p class="scroll-note text-center">View complete details by scrolling right <i class="fas fa-arrow-right"></i></p>
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                    <th scope="col">People</th>
                    <th scope="col">Approve</th>
                    <th scope="col">Reject</th>
                </tr>
            </thead>
            <tbody>
                {% for reject in rejected %}
                <tr class="table-danger">
                    <td>{{reject.first_name}}</td>
                    <td>{{reject.last_name}}</td>
                    <td>{{reject.date}}</td>
                    <td>{{reject.time}}</td>
                    <td>{{reject.num_of_people}}</td>
                    <td>N/A</td>
                    <td>N/A</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    {% endif %}
    <div class="col-md-4 col-12">
        <h3>dhdhhdhdhd</h3>
    </div>
</div>
{% endblock content %}