<!-- Email confirmation template for Tamariam Restaurant bookings. -->
<h1>Dear {{ booking.first_name }} ,</h1>

<p>We are delighted to confirm that your booking at Tamariam Restaurant has been approved. We are thrilled to have you join us for  on {{booking.date}} at {{booking.time}}.</p>

<h2>Booking Details:</h2>

<ul>
<li>Date: {{ booking.date }} </li>
<li>Time: {{ booking.date }}</li>
<li>Number: {{ booking.num_of_people }}</li>
</ul>

<h3>Please note the following:</h3>

<p>Arrival Time: We kindly request that you arrive on time for your reservation to ensure a smooth and enjoyable dining experience.</p>

<p>Special Requests: If you have any dietary restrictions or special requests, please inform us in advance so we can accommodate your needs.</p>

<p>Cancellation Policy: Should you need to make any changes to your booking, please notify us at least [2] hours in advance.</p>

<p>If you would like to change or cancel your reservation, you can do so in your profile page on our website: https://tamariamrestaurant-d81c96b3d785.herokuapp.com/</p>

<p>If you have any further questions or require assistance, feel free to contact us at tamariamrestaurant@gmail.com. </p>

<p>We look forward to welcoming you to Tamariam Restaurant and hope you have a wonderful dining experience with us.</p>

<h4>Warm regards,</h4>
<h5>Tamariam Restaurant </h5>