{% extends 'base.html' %}


{% block content %}

{% if filtered %}
<div class="container montserrat">
    <h2 class="mt-2 fw-bold">Approved Bookings for <Span class="text-danger">{{query}}</Span></h2>
    <div class="table-responsive col-md-8 col-12 mt-5">
<p class="scroll-note text-center">View complete details by scrolling right <i class="fas fa-arrow-right"></i></p>
<table class="table">
    <thead>
        <tr class="table-primary">
            <th scope="col">First Name</th>
            <th scope="col">Last Name</th>
            <th scope="col">Date</th>
            <th scope="col">Time</th>
            <th scope="col">Number of People</th>
        </tr>
    </thead>
    <tbody>
      <!-- Loop through filtered bookings -->

        {% for filter in filtered %}
        <tr class="table-danger">
            <td>{{filter.first_name}}</td>
            <td>{{filter.last_name}}</td>
            <td>{{filter.date}}</td>
            <td>{{filter.time}}</td>
            <td>{{filter.num_of_people}}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
        {% else %}
        <h3 class="mt-5">There are not approved bookings for  <span class="text-danger">{{query}}</span></h3>
        {% endif %}
</div>
</div>
{% endblock content %}
